<footer class="py-5 bg-light">
    <div class="container">
      <div class="row">
        <div class="col-6 col-md-2 mb-3">
          <h5>FAQs</h5>
          <ul class="nav flex-column">
            <li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-body-secondary">Booking and Scheduling</a></li>
            <li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-body-secondary">Pricing and Payment</a></li>
            <li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-body-secondary">Safety and Security</a></li>
            <li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-body-secondary">Ride Experience</a></li>
            <li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-body-secondary">Support and Assitance</a></li>
          </ul>
        </div>

        <div class="col-6 col-md-2 mb-3">
          <h5>Subscriptions</h5>
          <ul class="nav flex-column">
            <li class="nav-item mb-2"><a href="pricing" class="nav-link p-0 text-body-secondary">ExcursionElite</a></li>
            <li class="nav-item mb-2"><a href="pricing" class="nav-link p-0 text-body-secondary">VoyagePlus</a></li>
            <li class="nav-item mb-2"><a href="pricing" class="nav-link p-0 text-body-secondary">JourneyQuest</a></li>
          </ul>
        </div>

        <div class="col-6 col-md-2 mb-3">
          <h5>Contact me</h5>
          <ul class="nav flex-column">
            <li class="nav-item mb-2"><a href="https://www.instagram.com/" class="nav-link p-0 text-body-secondary">Instagram</a></li>
            <li class="nav-item mb-2"><a href="https://www.facebook.com/" class="nav-link p-0 text-body-secondary">Facebook</a></li>
            <li class="nav-item mb-2"><a href="https://twitter.com/i/flow/login?redirect_after_login=%2F" class="nav-link p-0 text-body-secondary">Twitter</a></li>
                        <li class="nav-item mb-2"><a href="https://web.whatsapp.com/" class="nav-link p-0 text-body-secondary">Whatsapp</a></li>
          </ul>
        </div>

        <div class="col-md-5 offset-md-1 mb-3">
          <form action="/home" method="post">
            <h5>Subscribe to our newsletter</h5>
            <p>Monthly digest of what's new and exciting from us.</p>
            <div class="d-flex flex-column flex-sm-row w-100 gap-2">
              <label for="newsletter1" class="visually-hidden">Email address</label>
              <input id="newsletter1" name="email" type="text" class="form-control" placeholder="Email address">
              <button class="btn btn-primary" type="submit">Subscribe</button>
            </div>
          </form>
        </div>
      </div>

      <div class="d-flex flex-column flex-sm-row justify-content-between py-4 my-4 border-top">
        <p>© 2023 RideSpot, Inc. All rights reserved.</p>
        <ul class="list-unstyled d-flex">
          <li class="ms-3"><a class="link-body-emphasis" href="#"><svg class="bi" width="24" height="24"><use xlink:href="#twitter"></use></svg></a></li>
          <li class="ms-3"><a class="link-body-emphasis" href="#"><svg class="bi" width="24" height="24"><use xlink:href="#instagram"></use></svg></a></li>
          <li class="ms-3"><a class="link-body-emphasis" href="#"><svg class="bi" width="24" height="24"><use xlink:href="#facebook"></use></svg></a></li>
        </ul>
      </div>
    </div>
  </footer>

