<%- include("partials/header") -%>
 
<div class="container col-xxl-8 px-4 py-5">
  <div class="row flex-lg-row-reverse align-items-center g-5 py-5">
    <div class="col-10 col-sm-8 col-lg-6">
      <div class="position-relative">
        <img src="image/rideShare.jpg" class="d-block mx-lg-auto img-fluid rounded shadow-blur" alt="RideShare Image" width="700" height="500" loading="lazy">
        <div class="image-mask"></div>
      </div>
    </div>
    <div class="col-lg-6">
      <h1 class="display-5 fw-bold text-body-emphasis lh-1 mb-3">Share rides with trusted individuals, making it cheaper and more fun!</h1>
      <p class="lead">Going for a road trip alone? Wanna go somewhere but don't have a ride? Don't worry, as RideSpot enables you to share your trip ahead of time and invite other trusted and verified individuals who can accompany you for the ride making it not only cheaper, but an exciting one!</p>
      <div class="d-grid gap-2 d-md-flex justify-content-md-start">
        <button type="button" class="btn btn-primary btn-lg px-4 me-md-2">Primary</button>
        <button type="button" class="btn btn-outline-secondary btn-lg px-4">Default</button>
      </div>
    </div>
  </div>
</div>
<%- include("partials/footer") -%>

