<!DOCTYPE html>
<html lang="en">

<head>
  <title>Intro</title>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link href="css/intro.css" rel="stylesheet">
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" rel="stylesheet"
    integrity="sha384-9ndCyUaIbzAi2FUVXJi0CjmCapSmO7SnpJef0486qhLnuZ2cdeRhO02iuK6FUUVM" crossorigin="anonymous">
</head>

<body class="vh-100 d-flex align-items-center bg-body-tertiary">
  <div class="container text-center">
    <div class="position-relative p-5 text-muted bg-body border border-dashed rounded-5">
      <h1 class="text-body-emphasis">Welcome to RideSpot</h1>
      <p class="col-lg-8 mx-auto mb-4">
        Get ready for a fantastic ride-sharing experience with RideSpot. Explore the convenience, safety, and
        reliability
        of our platform. Discover new destinations, meet fellow riders, and enjoy a seamless journey every time.
      </p>
      <form action="/" method="post">
        <button class="btn btn-primary px-5 mb-5" type="submit">
          Get Started
        </button>
      </form>
    </div>
  </div>
</body>

</html>
